# Spark configurations
SPARK_UI_PORT=8080
SPARK_MODE=master
SPARK_RPC_AUTHENTICATION_ENABLED=no
SPARK_RPC_ENCRYPTION_ENABLED=no

# Postgres configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# MLflow configuration
MLFLOW_PORT=5001
MLFLOW_BUCKET_NAME=mlflow

# MinIO access keys - these are needed by MLflow
MINIO_ACCESS_KEY=
MINIO_SECRET_ACCESS_KEY=

# MinIO configuration
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ADDRESS=':9000'
MINIO_STORAGE_USE_HTTPS=False
MINIO_CONSOLE_ADDRESS=':9001'
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
